<h2><i class="fas fa-book"></i> StoryBooks</h2>
<section>
    <p>
       <h4> Create, Read, Update, Delete : private and public stories</h4>
    </p>
</section>
<div>
    <a href="/auth/google" class="btn btn-danger"><i class="fab fa-google"></i>  Sign in with Google</a>
</div>